body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(153, 156, 153);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* HEADER */

nav {
  background: #ffc50c;
  text-align: center;
  padding: 1px 5px;
  margin-right: 1px;
  background-color: rgb(34, 211, 34);
}

nav ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul li {
  text-align: center;
  width: 100%;
}

.text-decoration-n {
  text-decoration: none;
}

.header-links {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.header-username {
  align-items: center;
  display: flex;
  justify-content: right;
  margin: 1px;
}
